<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="contact_num"> There are <span><%= @contactnum %></span> contacts </div>

    <ul>
      <% @contactlist.each do |contact| %>
        <li><%= contact.full_name + " (" + contact.email_address + ") " %>
            <p><a href = "#"> Edit</a> | <a href = "#"> Delete </a></p>
        </li>
      <% end %>
    </ul>

  </body>
</html>
