<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>

    <header>
        <h1>Bitmaker CRM</h1>

        <a class = "header", href= "/"><h3> Home</h3></a>
        <a class = "header", href= "#"><h3>Add a contact</h3></a>
        <a class = "header", href= "/about"><h3>About</h3></a>

    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      Bitmaker 2018
    </footer>

  </body>
</html>
