<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class = "person">
      <h3><%= @contact.first_name %> <%= @contact.last_name %> (<%= @contact.email %>)</h3>

      <h4><%= @contact.note %></h4>
    </div>

  </body>
</html>
